img {
    width: 50px;
    float: right;
    vertical-align: middle;
}

.Card {
    margin: 1em;
    padding: 5px;
    border: black 1px solid;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
}

.Card :hover{
    box-shadow: 10px 5px 5px red;
}
/* Question: Why isn't this around the whole div element? */

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.header {
    margin: 5px;

}

p {
    margin: 5px;
}